{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="row">Les Bons Plans</h2>

    <div class="row">
        <div class="col-10">Règle</div>
        <div class="col-2">Pourcent</div>
        {% for rule in rules %}
            <div class="col-10">{{ rule.ruleExpression }}</div>
            <div class="col-2">{{ rule.discountPercent }}%</div>
        {% endfor %}
    </div>
    <a class="btn btn-primary mt-3" href="{{ path('add-new-discount') }}">Ajouter une nouvelle règle</a>

{% endblock %}